<!DOCTYPE html>
<html>
<head>
	<title>Blueshark</title>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="/css/event.css">
	<link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>

</head>
<body>

	<div class = "header">
		<div class = "header-left"><img src="/img/cover.jpg"></div>
		<div class = "header-right"><div class = "event-title">B17 Binch!</div></div>
	</div>

	<div class = "content clearfix">
		<div class = "sidebar">
			<div class = "event-time datetime">8:00 pm</div>
			<div class = "event-date datetime">Tuesday, February 16, 3005</div>
			<div class = "event-descript datetime">Real hacker hour...who up? If you'll be right by my side, til 3005, you better git pull origin SMASH that mf like button!*!*!</div>
			<div class = "event-suggested-amount datetime">Suggested Amount: $4</div>
		</div>
		<div class = "feed">
			<div class = "feed-header">
				<div class = "chip-in button1"> I wanna chip in!</div>
				<div class = "bring button1"> I wanna #bringsummin</div>
				<div class = "peep-list-hub clearfix">
					<center><div class = "peep-list">peep wishlist</div></center>
					<center><div class = "peep-list-dropdown">
						<div class = "select-list-item list-item">
							<div class = "list-item-title">brownies :)</div>
							<div class = "list-item-cost">$10</div>
						</div>
						<div class = "add-item list-item"> add item</div>

						<input class = "add-item new-item-name" type="text"></input>
						<input class = "add-item new-item-price" type="number"></input>

					</div></center>
				</div>			
			</div>

			<center><div class = "item-card contr-card clearfix">
				<div class = "card-header">
					<div class = "item-title">Fiyahhball!!!</div>
					<div class = "icon-shell"><div class = "item-icon">
						<img src="/img/burn1.svg">
					</div></div>
				</div>
				
				<div class = "button-shell">
					<div class = "pay-suggested button2"></div>
					<div class = "pay-custom button2"></div>
				</div>
			</div></center>

			<center><div class = "item-card bring-card">
				<div class = "item-title">hot beats</div>
				<div class = "icon-shell"><div class = "item-icon">
					<img src="/img/burn1.svg">
				</div></div>
				<iframe src="http://www.datpiff.com/embed/me36d0a7/" width="525" height="270" frameborder="0"></iframe>
			</div></center>
		</div>
	</div>

	<div class = "footer"></div>

	<!-- JS -->
	<script type="text/javascript" src="/js/event.js"></script>
</body>
</html>