@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/font/ClearSans-Regular.eot'); //IE9 compatible
  src: url('/font/ClearSans-Regular.woff') format('woff'); // modern browsers
}

@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/font/ClearSans-Italic.eot'); //IE9 compatible
  src: url('/font/ClearSans-Italic.woff') format('woff'); // modern browsers
}

@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/font/ClearSans-Bold.eot'); //IE9 compatible
  src: url('/font/ClearSans-Bold.woff') format('woff'); // modern browsers
}

@font-face {
  font-family: 'Clear Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/font/ClearSans-BoldItalic.eot'); //IE9 compatible
  src: url('/font/ClearSans-BoldItalic.woff') format('woff'); // modern browsers
}
