<div class="container">
  {{> "header" }}

  <div class="clearfix">
    <div class="col col-4">
      <button onclick="javascript:openCreateEvent();" class="btn green-bg green-hover white modalButton">Add an event</button>
    </div>
    <div class="col col-8"></div>
  </div>

  <div class="clearfix border-bottom">
    <div class="col col-12">
      <p class="h2">Upcoming Events</p>
    </div>
  </div>

  <div class="clearfix border-bottom">
    <!-- Each event link goes in this link -->
    <a href="" class="link-nostyle text-decoration-none">
      <div class="col col-5">
        <p class="bold align-middle">{{ eventTitle }}</p>
      </div>
    </a>
    <div class="col col-4">
      <p class="align-middle">{{ eventDate }}</p>
    </div>
    <div class="col col-3">
      <p class="align-middle uppercase bold green">
        {{ eventHost }}
        <i class="fa fa-cog grey pointer" onclick="javascript:openSettings()">
        </i>
      </p>
    </div>
  </div>


  {{> "footer" }}
</div>

<div class="make-event-form modal create-event white-bg p4 border rounded">
  <p class="h2">Add an event</p>
  <input type="text" class="input" name="link" placeholder="Enter Facebook event link" />
  <input type="text" class="input" name="price" placeholder="Price per person" />
  <input type="text" class="input" name="cashtag" placeholder="$cashtag" />
  <input type="text" class="input" name="wishlist" placeholder="Wish List - what do you want people to bring?" />
  <input type="button" id="make-event-submit" class="btn green-bg green-hover white" value="Submit" />
</div>

<div class="modal settings white-bg p4 border rounded">
  <p class="h2">Event Settings</p>
  <p><i class="fa fa-trash-o"></i> Delete event</p>
</div>

<div class="cover"></div>