<div class="event">
	<div class="header">
		<div class="event-title">B17 Binch!</div>
		<div class="info-bar">
			<div class="datetime">Tuesday, April 5, 3005 ~ 9PM</div>
			<div class="suggested-pay">Suggested: $4.00</div>
		</div>
	</div>

	<div class="content">
		<div class="insta-pay">Instant Pay</div>
		<div class="wishlist-hub">
			<div class="wishlist-header">
				<div class="wishlist-label">Wishlist</div>
				<div id="wishlist-add-button" class="item-button">Add +</div>
			</div>
			<div class="wishlist-feed">
				<div class="wishlist-item">
					<div class="item-name">Sauce</div>
					<div class="pay-item item-button">Pay</div>
					<div class="bring-item item-button">Bring</div>
				</div>
				<div class="wishlist-item">
					<div class="item-name">Sauce</div>
					<div class="pay-item item-button">Pay</div>
					<div class="bring-item item-button">Bring</div>
				</div>
				<div class="wishlist-item">
					<div class="item-name">Sauce</div>
					<div class="pay-item item-button">Pay</div>
					<div class="bring-item item-button">Bring</div>
				</div>
			</div>


		</div>
	</div>

	<div class="footer"></div>
</div>